<div
  id="sidenav"
  class="flex flex-col w-[256px] border-r-2 border-r-slate py-4 hidden"
  xyz="fade left-100%"
  _="init if localStorage.sidebarOpen == 'true' then remove .hidden"
>
  {{template "partials/sidenav_item"
    args "path" "/broker" "icon" "paper-plane" "name" "Broker" "menu" "#broker-menu"
  }}
  <div id="broker-menu" class="hiden">
    {{template "partials/sidenav_item" args "path" "/broker/test" "name" "Test"}}
    {{template "partials/sidenav_item" args "path" "/broker/test" "name" "Test"}}
    {{template "partials/sidenav_item" args "path" "/broker/test" "name" "Test"}}
    {{template "partials/sidenav_item" args "path" "/broker/test" "name" "Test"}}
  </div>

  {{template "partials/sidenav_item"
    args "path" "/logger" "icon" "floppy-disk" "name" "Logger" "menu" "#logger-menu"
  }}
  <div id="logger-menu" class="hidden">
    {{template "partials/sidenav_item" args "path" "/logger/test" "name" "Test"}}
    {{template "partials/sidenav_item" args "path" "/logger/test" "name" "Test"}}
  </div>

  {{template "partials/sidenav_item"
    args "path" "/proxy" "icon" "handshake" "name" "Proxy" "menu" "#proxy-menu"
  }}
  <div id="proxy-menu" class="hidden">
    {{template "partials/sidenav_item" args "path" "/proxy/test" "name" "Test"}}
    {{template "partials/sidenav_item" args "path" "/proxy/test" "name" "Test"}}
  </div>

  {{template "partials/sidenav_item"
    args "path" "/state" "icon" "clone" "name" "State" "menu" "#state-menu"
  }}
  <div id="state-menu" class="hidden">
    {{template "partials/sidenav_item" args "path" "/state/test" "name" "Test"}}
    {{template "partials/sidenav_item" args "path" "/state/test" "name" "Test"}}
  </div>

  <div class="p-4"><hr /></div>

  {{template "partials/sidenav_item" args "path" "/admin" "icon" "hand-back-fist" "name" "Admin"}}
</div>
