<li class="flex justify-center items-center w-20 h-20 mx-auto">
  <a
    href="{{$.path}}"
    class="
      flex justify-center items-center w-full h-full
      text-slate-800 border-r-solid border-r-2 border-white
      hover:text-red-800 hover:border-red-800
    "
  >
    <i class="fa-regular fa-{{$.icon}} fa-2x drop-shadow-[0_2px_2px_rgba(30,41,59,0.3)]"></i>
  </a>
</li>
<!--
<div class="relative top-[-80px] left-24 w-64 p-2 bg-slate-100 border-2 border-solid border-red-800">
  <p>Broker</p>
  <hr>
  <p>Broker</p>
  <p>Broker</p>
</div>
-->
