[Unit]
Description=Plantd State
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
RuntimeDirectory=plantd
RuntimeDirectoryMode=0755
PIDFile=/run/plantd/state.pid
ExecStart=/usr/bin/plantd-state

[Install]
WantedBy=multi-user.target
