<!DOCTYPE html>
<html lang="en">
  {{ template "partials/head" . }}

  <body class="h-screen" hx-ext="shoelace">
    <!--
    <div hx-ext="sse" sse-connect="/dev/reload" sse-swap="message">
      Reload events
    </div>
    <div hx-sse="connect:/dev/reload swap:message">
      Reload events
    </div>
    <div hx-ext="ws" ws-connect="/dev/reload2">
      <div id="message"></div>
    </div>
    -->
    {{ embed }}
  </body>

  <script>
    htmx.on("htmx:swapError", function(evt) {
      console.log("swapError", evt);
    });

    htmx.on("htmx:sseError", function(evt) {
      console.log("sseError", evt);
    });

    htmx.on("htmx:sseOpen", function(evt) {
      console.log("sseOpen", evt);
    });

    htmx.on("htmx:noSSESourceError", function(evt) {
      console.log("noSSESourceError", evt);
    });
  </script>
</html>
